{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block container %}

<div>
    <div class="row position-relative">
        <div class="col-xl-auto"><img src="{% static 'images/horses-786239.jpeg' %}" class="img-fluid opacity-25" alt=""></div>
        <div class="col-xl-auto position-absolute top-50 start-50 translate-middle text-center">
            <h1>MY STABLE&trade;</h1>
            <p>Give your workers information about horses in your stable. Plan feeding, training and more.</p>
        </div>
    </div>
</div>
{% endblock %}
