.logo {
    width: 2rem;
    height: 2rem;
}

.form-border{
    border-style: solid;
    border-width: 3px;
    border-color: olivedrab;
    border-radius: 30px
}

.picture-resize {
    max-width: 10%;
    height: auto;
}

.image {
    width: auto;
    height: 350px;
}
.cover{
  object-fit: cover;
  object-position: center;
}
.contain{
  object-fit: contain;
}