{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Add Horse
{% endblock %}

{% block container %}
    <div class="container-lg mb-5 p-5">
    <div class="row pb-4">
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-6 mb-5 pb-5">
            <form action="" method="POST" enctype="multipart/form-data" class="border border-success border-5 p-4">
                {% if form.errors %}
                    {% for error in form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error }}</strong> You should check in on some of those fields below.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1>Add Horse</h1>
                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-success">Add Horse</button>
            </form>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}