{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ horse.name }}
{% endblock %}

{% block container %}
    <div class="container justify-content-center">
        <div class="row p-5">
            <div class="col">
                <img class="float-start image" src="{{ horse.picture.url }}" alt="Picture of {{ horse.name }}">
            </div>
        <div class="col me-3 p-3">
            <table class="table table-success table-bordered border-success">
                <th class="p-3 h1 text-center" colspan="2">
                    {{ horse.name }}
                </th>
                <tr class="text-center h6">
                    <td colspan="2">
                        {{ horse.birth_date }}
                    </td>
                <tr>
                    <td class="text-center p-3 h6" >
                        {{ horse.mother }}
                    </td>
                    <td class="text-center p-3 h6">
                        {{ horse.father }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <table class="m-3 p-5 text-center table table-borderless table-success table-striped">
            <th class="p-3 h5">Feeding plan</th>
            {% if feeding < 1 %}
                <tr class="p-5 text-center">
                   <td class="h6">Breakfast</td>
                </tr>
                <tr class="p-2 text-center">
                    <td class="p-3">{{ feeding.breakfast }}</td>
                </tr>
                <tr class="p-5 text-center">
                   <td class="h6">Dinner</td>
                </tr>
                <tr class="p-2 text-center">
                    <td class="p-3">{{ feeding.dinner }}</td>
                </tr>
                <tr class="p-5 text-center">
                   <td class="h6">Supper</td>
                </tr>
                <tr class="p-2 text-center">
                    <td class="p-3">{{ feeding.supper }}</td>
                </tr>
            {% else %}
                <tr class="m-5">
                    <td><a href="{% url 'horses:add_meal' %}" class="btn btn-success">Add feeding plan for this horse</a></td>
                </tr>
            {% endif %}
            </table>
        </div>
        </div>
    </div>
{% endblock %}