{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ horse.name }}
{% endblock %}

{% block container %}
    <div class="container justify-content-center">
        <div class="row p-5">
            <section class="col">
                <div class="col-md-3 mb-5">
                    <div class="card mb-2 me-2 " style="width: 15rem;">
                        <img src="{{ horse.picture.url }}" class="card-img-top" style="width:auto ;height: 350px; object-fit: cover; object-position: center;" alt="Picture of {{ horse.name }}">
                        <div class="card-footer d-flex flex-column bg-success">
                            <a href="{% url 'horses:change_horse' slug=horse.slug %}" class="btn btn-lg">Edit {{ horse.name }} information</a>
                        </div>
                    </div>
            </section>
            <section class="col me-3 p-3">
                <table class="table table-success table-bordered border-success">
                    <th class="p-3 h1 text-center" colspan="2">
                        {{ horse.name }}
                    </th>
                    <tr class="text-center h6">
                        <td colspan="2">
                            {{ horse.birth_date }}
                        </td>
                    <tr>
                        <td class="text-center p-3 h6">
                            {{ horse.mother }}
                        </td>
                        <td class="text-center p-3 h6">
                            {{ horse.father }}
                        </td>
                    </tr>
                </table>
            </section>

            <div class="col">
                <table class="m-3 p-5 text-center table table-borderless table-success table-striped">
                    <th class="p-3 h5">Feeding plan</th>
                    {% if feeding < 1 %}
                        <tr class="m-5">
                            <td><a href="{% url 'horses:add_meal' %}" class="btn btn-success">Add feeding plan for this
                                horse</a></td>
                        </tr>
                    {% else %}
                        <tr class="p-5 text-center">
                            <td class="h6">Breakfast</td>
                        </tr>
                        <tr class="p-2 text-center">
                            <td class="p-3">{{ feeding.breakfast }}</td>
                        </tr>
                        <tr class="p-5 text-center">
                            <td class="h6">Dinner</td>
                        </tr>
                        <tr class="p-2 text-center">
                            <td class="p-3">{{ feeding.dinner }}</td>
                        </tr>
                        <tr class="p-5 text-center">
                            <td class="h6">Supper</td>
                        </tr>
                        <tr class="p-2 text-center">
                            <td class="p-3">{{ feeding.supper }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'horses:change_meal' pk=feeding.id %}" class="btn btn-success">Edit meals</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleDark" class="carousel carousel-dark slide border border-success border-3 rounded-3 col-6 m-5 p-4"
                 data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for training in trainings %}
                        {% with forloop.counter0 as i %}
                            <div class="carousel-item {% if i is 0 %}active{% endif %}">
                                <div class="text-center">
                                    {% for number, day_name in weekdays %}
                                        {% if training.weekday == number %}
                                            <h1>{{ day_name }}</h1>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col m-5">
                                        <h6>Trainer name:</h6>
                                        <p class="p-3">{{ training.trainer }}</p>
                                        <h6>Rider name:</h6>
                                        <p class="p-3">{{ training.raider }}</p>
                                        <h6>Duration:</h6>
                                        <p class="p-3">{{ training.duration }} hour</p>
                                        <h6>Time:</h6>
                                        <p class="p-3">{{ training.hour }}</p>
                                    </div>
                                    <div class="col m-5">
                                        <h6>Training description</h6>
                                        <p>{{ training.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <div>
                <a href="{% url 'horses:change_training' pk=horse_training.id %}" class="btn btn-success carousel-indicators">Edit training</a>
            </div>
            </div>
        <div>
        <table>
        <th>
            <tr>
                <td>Date</td>
                <td>Vaccine</td>
            </tr>
        </th>
        <tr>
            {% for v_date in vaccine_dates %}
                <td>{{ v_date.date }}</td>
                <td>{{ v_date.shot.name }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><a href="{% url 'horses:add_vaccine_date'%}" class="btn btn-success">Add vaccine date</a></td>
        </tr>
        </table>
        </div>
        </div>
    </div>
{% endblock %}




